<div class="bg-image">
    <div class="login-container">
        <form action="/api/sessions/login" method="POST">
            <input type="text" id="email" name="email" placeholder="email" class="input-style"/>
            <input type="password" id="password" name="password" placeholder="password" class="input-style"/>
            <input type="submit" value="login" class="login-btn"/>
        </form>
        <div class="other-methods">
            <a href="/api/sessions/github">
                <i class="fa-brands fa-github github-icon"></i>
            </a>
        </div>
        <div class="register">
            <a href="/api/sessions/register">Register you</a>
        </div>
    </div>
</div>
