<form action="/auth/login" method="POST">
    <input type="text" id="email" name="email" placeholder="email"/>
    <input type="number" id="password" name="password" placeholder="password"/>
    <input type="submit" value="login"/>
</form>
<a href="/api/sessions/register">Register you</a>
<a href="/api/sessions/github">Github</a>