<form action="/auth/register" method="POST">
    <input type="text" id="first_name" name="first_name" placeholder="first_name"/>
    <input type="text" id="last_name" name="last_name" placeholder="last_name"/>
    <input type="text" id="email" name="email" placeholder="email"/>
    <input type="number" id="age" name="age" placeholder="age"/>
    <input type="text" id="password" name="password" placeholder="password"/>
    <input type="submit" value="registrar"/>
</form>
<a href="/auth/login">Ya tengo cuenta</a>